@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
  background-color: #F9FAFB;
  color: #1F2937;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

a {
  text-decoration: none;
}
